<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Heimasíða Elínar Óskar</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="Allt">
<div id="H_left">
<img src="./img/Front_Elin.png" alt="Image of Elin." />
</div>
<div id="H_right">
<img id="signature" src="./img/Front_signature.png" alt="Embroidered title." width="450" height="210" />
<ul id="nav-global">
<li><a href="">News</a></li>
<li><a href="">Biography</a></li>
<li><a href="">Photos</a></li>
<li><a href="">Music</a></li>
<li><a href="">Video</a></li>
<li><a href="">Guestbook</a></li>
<li><a href="">Contact</a></li>
</ul>
</div>
<div id="B_left">
<!--Content-->
</div>
<div id="B_right">
<div class="box">
<!--Events-->
</div>
<div class="box">
<!--CD's-->
</div>
<div >
<img src="./img/knight.png" alt="Icelandic knights cross" width="300px" height="250px"/>
</div>
</div>
</div>
</body>
</html>
