<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Heimasíða Elínar Óskar</title>
        <link href="style2.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="head_left">
            <img src="Elin_front.png" alt="Image of Elin." />
        </div>
        <div id="head_right">
            <img src="Name_front.png" alt="Embroidered title." width="450" height="210" />
            <ul id="nav-global">
                <li><a href="">News</a></li>
                <li><a href="">Biography</a></li>
                <li><a href="">Photos</a></li>
                <li><a href="">Music</a></li>
                <li><a href="">Video</a></li>
                <li><a href="">Guestbook</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </body>
</html>

