<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Heimasíða Elínar Óskar</title>
<link href="style1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="H_left">
<img id="E_front" src="Elin_front.png" alt="Image of Elin." />
</div>
<div id="H_right">
<img id="N_front" src="Name_front.png" alt="Embroidered title." width="450" height="210" />
<hr />
<ul id="nav-global">
<li id="nav-homepage"><a href="">Home</a></li>
<li id="nav-news"><a href="">News</a></li>
<li id="nav-biography"><a href="">Biography</a></li>
<li id="nav-photos"><a href="">Photos</a></li>
<li id="nav-music"><a href="">Music</a></li>
<li id="nav-video"><a href="">Video</a></li>
<li id="nav-guestbook"><a href="">Guestbook</a></li>
<li id="nav-contact"><a href="">Contact</a></li>
</ul>
<hr />
</div>
</body>
</html>
