#head_left {
    background-image:url(gradient.jpg);
    position:absolute;
    width:370px;
    height:315px;
    margin:0;
}
#head_right {
    background-image:url(gradient.jpg);
    position:absolute;
    width:450px;
    height:315px;
    margin-left:370px;
}
#nav-global {
    margin:0;
    padding:0;
    border:0;
    margin-left:4px;
    margin-right:4px;
    margin-top:40px;
}
#nav-global li {
    list-style-type:none;
    font-size:12pt;
    display:block;
    float:left;
    margin-left:1px;
    margin-right:1px;
}
a           {text-decoration:none;}
a:link      {color:white;}
a:visited   {color:white;}
a:hover     {color:#4B91AB;}
a:active    {color:red;}
body {
}
